.about-us {
    margin: 80px auto;
    display: flex;
    align-items: center;
    background-color: rgb(233, 213, 190);
    padding: 10px;
    border: 2px black solid;
}

.about-us_img {
 flex-basis: 29%;
 margin-right: 95px;
 position: relative;
}

.about-us_img::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient( rgba(255, 35, 136, 0.25), rgba(149, 121, 209, 0.25));
    z-index: 1;
}

.about-us_img img{
    display: block;
    max-width: 100%;
}

.about-us_text {
    flex-basis: calc(100% - 29% - 95px);
}

.about-us_text p {
    font-size: 18px;
    line-height: 30px;
    margin: 15px 0;
    color: #1b1b1b;
    opacity: .7;
    padding: 10px;
}

.about-us_text .about-us_title {
    margin-top: 0;
    font-size: 36px;
    line-height: 42px;
    opacity: .7;
}

.about-us_button {
    margin-top: 25px;
}

@media (max-width: 980px){
    .about-us{
        margin: 30px auto;
    }

    .about-us_img{
        margin-right: 30px;
    }

    .about-us_text{
        flex-basis: calc(100% - 29% - 30px);
    }
}

@media (max-width: 768px){
   .about-us{
        flex-direction: column;
        margin: 70px;
    }

    .about-us_img{
        margin: 0 0 20px 0;
        flex-basis: auto;
    }

    .about-us_text{
        flex-basis: auto;
    }
}