.icon {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 120px auto 70px;
    padding-top: 50px;
    background-color: rgb(233, 213, 190);
    border: 2px black solid;
}

.icons__element {
    flex-basis: 30%;
    text-align: center;
    margin-bottom: 50px;

}

.icons__image {
    height: 301px;
    display: flex;
    align-items: center;
    border: rgba(68, 68, 68, 1);
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
}

.icons__image img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    -webkit-box-shadow:
        inset 0 0 1px rgba(0, 0, 0, .8),
        inset 0 2px 0 rgba(255, 255, 255, .5),
        inset 0 -1px 0 rgba(0, 0, 0, .4);
    -moz-box-shadow:
        inset 0 0 1px rgba(0, 0, 0, .8),
        inset 0 2px 0 rgba(255, 255, 255, .5),
        inset 0 -1px 0 rgba(0, 0, 0, .4);
    box-shadow:
        inset 0 0 1px rgba(0, 0, 0, .8),
        inset 0 2px 0 rgba(255, 255, 255, .5),
        inset 0 -1px 0 rgba(0, 0, 0, .4);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.icons__element p {
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
    color: #1b1b1b;
    opacity: .7;
    letter-spacing: .7;
}

.icons__element .icons__title {
    font-size: 18px;
    color: #1b1b1b;
    opacity: 1;
    letter-spacing: 0.9px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 25px;
}

@media (max-width: 980px) {}